@using EducationManagementPlatform.Utility
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Ana Sayfa";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
        /* CSS stillerinizi buraya ekleyin */


        .card-with-image {
            position: relative;
            overflow: hidden;
            cursor: pointer;
            height: 170px;
            border: none; /* Kart kenarlığını kaldırır */
        }

            .card-with-image .background-image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                transition: filter 0.3s ease-in-out;
            }

            .card-with-image:hover .background-image {
                filter: brightness(0.5); /* Kartın üzerine gelindiğinde arka plan resminin rengini değiştirmek için */
            }

            .card-with-image .card-body {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.6);
                padding: 10px;
                z-index: 2;
                width: 100%;
                opacity: 0; /* Kartın başlangıçta metinleri gizlemek için */
                transition: opacity 0.3s ease-in-out;
            }

            .card-with-image:hover .card-body {
                opacity: 1; /* Kartın üzerine gelindiğinde metinleri göstermek için */
            }

            .card-with-image .card-title,
            .card-with-image .card-text {
                color: #fff;
                z-index: 3; /* Metinlerin arka plan resminin üzerinde olmasını sağlar */
            }



        .search-input:focus {
            border-color: #273e4d;
            box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
        }

        .search-button:hover {
            background-color: #273e4d;
        }

    </style>
</head>
<body>
    <div class="container text-center mt-5 home-page">
        <h1 style="font-family:sans-serif; font-size:xx-large; font-weight:bold;" class="display-4">Eğitim Yönetim Platformu</h1>
        <hr />


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="search-container mt-3 mb-3">
                        <form asp-controller="Course" asp-action="Index" method="get" class="form-inline">
                            <div class="input-group w-100">
                                <input type="text" name="searchQuery" class="form-control search-input"
                                       placeholder="Kurs Ara..."
                                       style="border-top-left-radius: 10px; border-bottom-left-radius: 10px; padding: 10px 20px; border: 1px solid #ced4da; outline: none; transition: all 0.3s ease-in-out;">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary search-button"
                                            style="border-top-right-radius: 10px; border-bottom-right-radius: 10px; padding: 10px 20px; border: 1px solid #ced4da; background-color: #273e4d; color: #fff; transition: all 0.3s ease-in-out;">
                                        Ara
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>




        <div class="container" style="background-color:#273e4d; border-radius:20px; padding-top: 20px; padding-bottom: 20px; min-height: 345px;">
            <div class="row mb-5">
                <div class="col-md-3">
                    <div class="mb-3 d-flex align-items-center">
                        <img src="~/img/logo1.webp" class="logo" alt="Logo 1" style="max-width: 50px; max-height: 50px; margin-right: 10px; border-radius: 5px;">
                        <a href="@Url.Action("Index", "Course", new { category = "programlama" })" class="d-block" style="color: white; font-family: sans-serif; font-weight: bold;">programlama dünyası</a>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <img src="~/img/sunucu.webp" class="logo" alt="Logo 1" style="max-width: 50px; max-height: 50px; margin-right: 10px; border-radius: 5px;">
                        <a href="@Url.Action("Index", "Course", new { category = "sunucu" })" class="d-block" style="color: white; font-family: sans-serif; font-weight: bold;">sunucu dünyası</a>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <img src="~/img/ağ.webp" class="logo" alt="Logo 2" style="max-width: 50px; max-height: 50px; margin-right: 10px; border-radius: 5px;">
                        <a href="@Url.Action("Index", "Course", new { category = "ağ" })" class="d-block" style="color: white; font-family: sans-serif; font-weight: bold;">Sistem dünyası</a>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <img src="~/img/ingilizce.webp" class="logo" alt="Logo 3" style="max-width: 50px; max-height: 50px; margin-right: 10px; border-radius: 5px;">
                        <a href="@Url.Action("Index", "Course", new { category = "dil" })" class="d-block" style="color: white; font-family: sans-serif; font-weight: bold;">Kişisel gelişim</a>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <img src="~/img/design.webp" class="logo" alt="Logo 4" style="max-width: 50px; max-height: 50px; margin-right: 10px; border-radius: 5px;">
                        <a href="@Url.Action("Index", "Course", new { category = "tasarım" })" class="d-block" style="color: white; font-family: sans-serif; font-weight: bold;">Tasarım dünyası</a>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <img src="~/img/mobill.webp" class="logo" alt="Logo 5" style="max-width: 50px; max-height: 50px; margin-right: 10px; border-radius: 5px;">
                        <a href="@Url.Action("Index", "Course", new { category = "mobil" })" class="d-block" style="color: white; font-family: sans-serif; font-weight: bold;">Uygulama geliştirme</a>
                    </div>
                </div>
                <div class="col-md-9" style="position: relative;">
                    <div class="image-wrapper" style="overflow: hidden; border-radius: 7px;">
                        <img src="~/img/home1.jpg" class="img-fluid rounded shadow" alt="Ana Görsel" style="width: 100%; height: auto; max-height: 330px; border-radius: 7px;">
                    </div>
                </div>
            </div>
        </div>








        @if (SignInManager.IsSignedIn(User))
        {
            @if (User.IsInRole(UserRoles.Role_Admin))
            {
                <div class="row justify-content-between">
                    <div class="col-md-5 mb-5 card-with-image" style="height: 250px; margin-left: 0; margin-top: 20px;">
                        <div class="background-image">
                            <img style="height:100%; width:100%; border-radius: 30px;" src="~/img/programlama.webp" class="img-fluid rounded shadow" alt="Ana Görsel" onclick="location.href = '@Url.Action("Index", "CourseCategory")'">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius: 30px;" onclick="location.href = '@Url.Action("Index", "CourseCategory")'">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h5 class="card-title">Kategoriler</h5>
                                <p class="card-text">Kategorilere göz atın..</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 mb-5 card-with-image" style="height: 250px; margin-right: 0; margin-top: 20px;">
                        <div class="background-image">
                            <img style="height:100%; width:100%; border-radius: 30px;" src="~/img/web.webp" class="img-fluid rounded shadow" alt="Ana Görsel" onclick="location.href = '@Url.Action("Index", "Course")'">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius: 30px;" onclick="location.href = '@Url.Action("Index", "Course")'">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h5 class="card-title">Kurslar</h5>
                                <p class="card-text">Kurslarıma göz atın..</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-between mt-3">
                    <div class="col-md-5 mb-5 card-with-image" style="height: 250px; margin-left: 0; margin-top: 20px;">
                        <div class="background-image">
                            <img style="height:100%; width:100%; border-radius: 30px;" src="~/img/sepet.webp" class="img-fluid rounded shadow" alt="Ana Görsel" onclick="location.href = '@Url.Action("Index", "Buy")'">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius: 30px;" onclick="location.href = '@Url.Action("Index", "Buy")'">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h5 class="card-title">Alışveriş</h5>
                                <p class="card-text">Alışveriş yapın...</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 mb-5 card-with-image" style="height: 250px; margin-right: 0; margin-top: 20px;">
                        <div class="background-image">
                            <img style="height:100%; width:100%; border-radius: 30px;" src="~/img/ağ.webp" class="img-fluid rounded shadow" alt="Ana Görsel" onclick="location.href = '@Url.Action("SendEmail", "Contact")'">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius: 30px;">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h5 class="card-title">İletişim</h5>
                                <p class="card-text">Mail göndermek için tıklayın!</p>
                            </div>
                        </div>
                    </div>
                </div>
            }




        }
        else
        {
            <p style="font-weight:bold; text-align:center; margin:20px; font-family:sans-serif;">Uygulamaya giriş yapın.</p>
        }
    </div>

    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole(UserRoles.Role_User))
        {
            <h2 style="font-weight:bold; text-align:center; margin:20px;">POPÜLER KATEGORİLER</h2>
            <hr />
            <div>
                <div class="row text-center">
                    <div class="col-md-3 mb-5 card-with-image" style=" height:170px; margin:20px; border-radius:20px;" onclick="location.href = '@Url.Action("Index", "Course", new { category = "Programlama" })'">
                        <div class="background-image">
                            <img style="height:100%; width:100%; border-radius:20px;" src="~/img/programlama.webp" class="img-fluid rounded shadow" alt="Ana Görsel">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius:20px;">
                            <div class="card-body">
                                <h5 class="card-title">Programlama</h5>
                                <p class="card-text">Programlama kategorisindeki kurslarıma göz atın..</p>
                            </div>
                        </div>
                    </div>
                    <br />


                    <div class="col-md-3 mb-5 card-with-image" style=" height:170px;border-radius:20px;  margin:20px;" onclick="location.href = '@Url.Action("Index", "Course", new { category = "web" })'">
                        <div class="background-image">
                            <img style="height:100%; width:100%;border-radius:20px; " src="~/img/web.webp" class="img-fluid rounded shadow" alt="Ana Görsel">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius=20px;">
                            <div class="card-body">
                                <h5 class="card-title">Web</h5>
                                <p class="card-text">Web kategorisindeki kurslarıma göz atın..</p>
                            </div>
                        </div>
                    </div>



                    <br />

                    <div class="col-md-3 mb-5 card-with-image" style=" height:170px;border-radius:20px;  margin:20px;" onclick="location.href = '@Url.Action("Index", "Course", new { category = "tasarım" })'">
                        <div class="background-image">
                            <img style="height:100%; width:100%;border-radius:20px; " src="~/img/design.webp" class="img-fluid rounded shadow" alt="Ana Görsel">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius=20px;">
                            <div class="card-body">
                                <h5 class="card-title">Tasarım</h5>
                                <p class="card-text">Tasarım kategorisindeki kurslarıma göz atın..</p>
                            </div>
                        </div>
                    </div>



                    <br />

                    <div class="col-md-3 mb-5 card-with-image" style=" height:170px;border-radius:20px;  margin:20px;" onclick="location.href = '@Url.Action("Index", "Course", new { category = "ağ" })'">
                        <div class="background-image">
                            <img style="height:100%; width:100%;border-radius:20px; " src="~/img/ağ.webp" class="img-fluid rounded shadow" alt="Ana Görsel">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius=20px;">
                            <div class="card-body">
                                <h5 class="card-title">Ağ</h5>
                                <p class="card-text">Ağ kategorisindeki kurslarıma göz atın..</p>
                            </div>
                        </div>
                    </div>


                    <br />


                    <div class="col-md-3 mb-5 card-with-image" style=" height:170px;border-radius:20px;  margin:20px;" onclick="location.href = '@Url.Action("Index", "Course", new { category = "dil" })'">
                        <div class="background-image">
                            <img style="height:100%; width:100%;border-radius:20px; " src="~/img/dil.webp" class="img-fluid rounded shadow" alt="Ana Görsel">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius=20px;">
                            <div class="card-body">
                                <h5 class="card-title">Dil</h5>
                                <p class="card-text">Dil kategorisindeki kurslarıma göz atın..</p>
                            </div>
                        </div>
                    </div>


                    <br />


                    <div class="col-md-3 mb-5 card-with-image" style=" height:170px;border-radius:20px;  margin:20px;" onclick="location.href = '@Url.Action("Index", "Course", new { category = "oyun" })'">
                        <div class="background-image">
                            <img style="height:100%; width:100%;border-radius:20px; " src="~/img/oyun.webp" class="img-fluid rounded shadow" alt="Ana Görsel">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius=20px;">
                            <div class="card-body">
                                <h5 class="card-title">oyun</h5>
                                <p class="card-text">oyun kategorisindeki kurslarıma göz atın..</p>
                            </div>
                        </div>
                    </div>
                    <br />





                    <div class="col-md-3 mb-5 card-with-image" style=" height:170px;border-radius:20px;  margin:20px;" onclick="location.href = '@Url.Action("Index", "Course", new { category = "masaüstü" })'">
                        <div class="background-image">
                            <img style="height:100%; width:100%;border-radius:20px; " src="~/img/masaüstüü.webp" class="img-fluid rounded shadow" alt="Ana Görsel">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius=20px;">
                            <div class="card-body">
                                <h5 class="card-title">Masaüstü</h5>
                                <p class="card-text">Masaüstü kategorisindeki kurslarıma göz atın...</p>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="col-md-3 mb-5 card-with-image" style=" height:170px; border-radius:20px; margin:20px;" onclick="location.href = '@Url.Action("Index", "Course", new { category = "gömülü" })'">
                        <div class="background-image">
                            <img style="height:100%; width:100%;border-radius:20px; " src="~/img/Gömülüü.webp" class="img-fluid rounded shadow" alt="Ana Görsel">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius=20px;">
                            <div class="card-body">
                                <h5 class="card-title">Gömülü</h5>
                                <p class="card-text">Gömülü kategorisindeki kurslarıma göz atın...</p>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="col-md-3 mb-5 card-with-image" style=" height:170px;border-radius:20px;  margin:20px;" onclick="location.href = '@Url.Action("Index", "Course", new { category = "sunucu" })'">
                        <div class="background-image">
                            <img style="height:100%; width:100%;border-radius:20px; " src="~/img/sunucuu.webp" class="img-fluid rounded shadow" alt="Ana Görsel">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius=20px;">
                            <div class="card-body">
                                <h5 class="card-title">sunucu</h5>
                                <p class="card-text">sunucu kategorisindeki kurslarıma göz atın...</p>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="col-md-3 mb-5 card-with-image" style=" height:170px;border-radius:20px;  margin:20px;" onclick="location.href = '@Url.Action("Index", "Course", new { category = "veri tabanı" })'">
                        <div class="background-image">
                            <img style="height:100%; width:100%;border-radius:20px; " src="~/img/veritabanıı.webp" class="img-fluid rounded shadow" alt="Ana Görsel">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius=20px;">
                            <div class="card-body">
                                <h5 class="card-title">veritabanı</h5>
                                <p class="card-text">veritabanı kategorisindeki kurslarıma göz atın...</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 mb-5 card-with-image" style=" height:170px;border-radius:20px;  margin:20px;" onclick="location.href = '@Url.Action("Index", "Course", new { category = "mobil" })'">
                        <div class="background-image">
                            <img style="height:100%; width:100%;border-radius:20px; " src="~/img/mobill.webp" class="img-fluid rounded shadow" alt="Ana Görsel">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius=20px;">
                            <div class="card-body">
                                <h5 class="card-title">mobil</h5>
                                <p class="card-text">mobil kategorisindeki kurslarıma göz atın...</p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-3 mb-5 card-with-image" style=" height:170px;border-radius:20px;  margin:20px;" onclick="location.href = '@Url.Action("Index", "Course", new { category = "backend" })'">
                        <div class="background-image">
                            <img style="height:100%; width:100%;border-radius:20px; " src="~/img/backendd.webp" class="img-fluid rounded shadow" alt="Ana Görsel">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius=20px;">
                            <div class="card-body">
                                <h5 class="card-title">backend</h5>
                                <p class="card-text">backend kategorisindeki kurslarıma göz atın...</p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-3 mb-5 card-with-image" style=" height:170px; border-radius:20px; margin:20px;" onclick="location.href = '@Url.Action("Index", "Course", new { category = "frontend" })'">
                        <div class="background-image">
                            <img style="height:100%; width:100%;border-radius:20px; " src="~/img/frontendd.webp" class="img-fluid rounded shadow" alt="Ana Görsel">
                        </div>
                        <div class="card h-100 shadow-sm" style="border-radius=20px;">
                            <div class="card-body">
                                <h5 class="card-title">frontend</h5>
                                <p class="card-text">frontend kategorisindeki kurslarıma göz atın...</p>
                            </div>
                        </div>
                    </div>


                    <br />




                </div>
            </div>
        }
    }
    else
    {
        <p>Detaylı özellikleri keşfetmek için uygulamaya giriş yapın.</p>
    }



    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <footer style="background-color: #273e4d; margin:0; left:0; color: white; text-align: center; padding: 10px 0; position: absolute; bottom: 0; width: 100%; font-family: sans-serif; font-weight: bold;">
        <p>&copy; 2024 Eğitim Yönetim Platformu-OKTAY SÜTÇÜ</p>
    </footer>


</body>
</html>
