@page
@model LoginModel

@{
    ViewData["Title"] = "Giriş yap";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LeNDAkqAAAAAJq0iNpoC1nQPIm1gWMsNIdOoaOB"></script>
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <div class="row">
            <div class="col-md-6">
                <section>
                    <form id="account" method="post">
                        <h2 class="text-center mb-4">Giriş yapmak için yerel bir hesap kullanın.</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password" class="form-label">Şifre</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            <label class="form-check-label" asp-for="Input.RememberMe">Beni Hatırla</label>
                        </div>
                       
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Giriş yap</button>
                    </form>
                </section>
            </div>
            <div class="col-md-6">
                <section>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div class="text-center">
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Kullanarak giriş yapın @provider.DisplayName hesap">@provider.DisplayName</button>
                                    }
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("account").submit();
        }
    </script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
