@model List<Course>

<div class="container">
    <div class="row pt-3 pb-5">
        <h1>kurslar</h1>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>kurs adı</th>
                <th>bilgi</th>
                <th>sahibi</th>
                <th>ücret</th>
                <th>zaman</th>
                <th>türü</th>
                <th>          </th>
                <th>          </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Course in Model)
            {
                <tr>
                    <td>@Course.Id</td>
                    <td>@Course.CourseName</td>
                    <td>@Course.Information</td>
                    <td>@Course.Owner</td>
                    <td>@Course.Price</td>
                    <td>@Course.Time</td>
                    <td>@Course.CourseCategory.Name</td>
                    <td>
                        <a asp-controller="Course" asp-action="AddUpdate" asp-route-id="@Course.Id" type="button" class="btn btn-lg btn-dark" style="width:90px;">güncelle</a>
                    </td>
                    <td>
                        <a asp-controller="Course" asp-action="Delete" asp-route-id="@Course.Id" type="button" class="btn btn-lg btn-dark" style="width90px;">sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="Course" asp-action="AddUpdate" class="btn btn-lg btn-primary" type="button">ekle</a>
        </div>
    </div>
</div>